html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.fondo_pantalla {
    width: 100%;
    height: 100%;
    background-image: url(./img/fondo.jpg);
    background-size: cover;
    display: table;
    margin: auto;
    top: 0;
}

.fondo_pantalla2 {
    width: 100%;
    vertical-align: middle;
    display: table-cell;
}

.contenido {
    font-family: 'Open Sans', sans-serif;
    max-width: 700px;
    margin: auto;
    text-align: center;
}

.contenido h1 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 300%;
    color: #401818;
}

.contenido a {
    border-radius: 9px;
    text-decoration: none;
    color: #818401;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    border: 2px solid;
    padding: 7px 13px;
}

.contenido a:hover {
    color: #6FBFBF;
}